<launch>
    <arg name="ns" default="false"/>
    <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find roman_model)/robots/realsense_camera.rviz" required="true" /> -->

    <param if="$(arg ns)" name="robot_description" command="$(find xacro)/xacro.py --inorder '$(find roman_model)/robots/rcta_roman.urdf.xacro' namespace:=true"/>
    <param unless="$(arg ns)" name="robot_description" command="$(find xacro)/xacro.py --inorder '$(find roman_model)/robots/rcta_roman.urdf.xacro' namespace:=false"/>

    <node
      name="joint_state_publisher"
      pkg="joint_state_publisher"
      type="joint_state_publisher">
      <!-- <rosparam param="source_list">["/cruzr_gazebo/joint_states_command"]</rosparam> -->
    </node>

    <node
      name="robot_state_publisher"
      pkg="robot_state_publisher"
      type="state_publisher" />
</launch>
